  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-auto-rows: 120px;                 
    gap: 14px;                             
    background: #1187e6;                   
    padding: 14px;                         
    border-radius: 6px;
    max-width: 1100px;
    margin: 24px auto;
    box-sizing: border-box;
  }

  
  .tile{
    background: #d8f0ff;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-family:"Times New Roman", serif;
    border-radius: 4px;
    box-sizing: border-box;
  }
